.characters {

    &__example-viewport {
        width: 100%;
        height: 55vh;
    }

    &__example-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
}
