<section class="characters__container characters">
    
    <ng-content></ng-content>
    <div class="characters__list">
        
        <div *ngIf="error else showBlock">
            <strong>
                You list cartoon characters is empty
            </strong>
        </div>
        <ng-template #showBlock> 
            
            <cdk-virtual-scroll-viewport 
                itemSize="75" 
                class="characters__example-viewport"
                >
                <div class="characters__example-list">
                    <div 
                        class="example-item"
                        *cdkVirtualFor="let character of characters | 
                        sortCharacterName: searchName |
                        filterGenderCharacter: filterGender | 
                        filterEpisodeCharacter: characterIds |
                        filterNameCharacter: filterName"
                        >
                        <app-character-item
                            [character]="character"
                            (onDetailCharacter)="detailCharacter($event)"
                            (showModal)="onShowModal($event)"
                            >
                        </app-character-item>
                    </div>
                </div>
               
            </cdk-virtual-scroll-viewport>
        </ng-template>
    </div>
    
</section>