.list-cards {

    &__all-filters {
        display: flex;
        justify-content: start;
        margin-bottom: 2rem;

        &>div {
            margin-right: 1.6rem;
        }
    }

    &__label {
        padding-right: .6rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
