<section class="character-item__container character-item">
    <div 
        class="character-item__delete"
        (click)="openModal()"
        >
        <img [src]="deleteImage">
    </div>
    <div class="character-item__head image">
        <img 
            [src]="character.image" 
            (click)="detailCharacter()"
            class="character-item__detail"
        />
    </div>
    <div class="character-item__body">
        <ul>
            <li>
                Name: {{ character.name }}
            </li>
            <li>
                Status: {{ character.status }}
            </li>
            <li>
                Species: {{ character.species }}
            </li>
            <li>
                Gender: {{ character.gender }}
            </li>
        </ul>
    </div>
</section>