.character-item {
    position: relative;
    width: 350px;
    margin: 0 1.5rem 1.5rem 0;
    border: 2px solid var(--dark-color-1);

    &__head {
        height: 350px;
    }

    &__body {
        padding: 1rem;
    }

    &__detail {
        cursor: pointer;
    }

    &__delete {
        position: absolute;
        width: 35px;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            min-width: 100%;
            min-height: 100%;
            flex-shrink: 0;
        }
    }
}