<section 
    *ngIf="characterDetail$ | async as characterDetails"
    class="character-detail__container character-detail"
    >
    <h1>
        Page Description
    </h1>

    <button routerLink="/">
        Back characters
    </button>

    <div class="character-detail__item">
        <div class="character-detail__image">
            <img [src]="characterDetails.image">
        </div>

        <ul>
            <li>
                Name: {{ characterDetails.name }}
            </li>
            <li>
                Status: {{ characterDetails.status }}
            </li>
            <li>
                Species: {{ characterDetails.species }}
            </li>
            <li>
                Gender: {{ characterDetails.gender }}
            </li>
            <li>
                Created: {{ characterDetails.created }}
            </li>
            <li>
                Origin name: {{ characterDetails.origin.name }}
            </li>
            <li>
                Location name: {{ characterDetails.location.name }}
            </li>
            <li>
                Location type: {{ characterDetails.location.type }}
            </li>
            <li>
                Location dimension: {{ characterDetails.location.dimension }}
            </li>
        </ul>
    </div>
   
</section>