<section 
    *ngIf="characterDetail$ | async as characterDetails"
    class="character-detail__container character-detail"
    >
    <h1>
        Page Description
    </h1>

    <button routerLink="/">
        Back characters
    </button>

    <div class="character-detail__item">
        <div class="character-detail__image">
            <img [src]="characterDetails.image">
        </div>

        <ul *ngIf="!isEdit; else editBlock">
            <li>
                Name: {{ characterDetails.name }}
            </li>
            <li>
                Status: {{ characterDetails.status }}
            </li>
            <li>
                Species: {{ characterDetails.species }}
            </li>
            <li>
                Gender: {{ characterDetails.gender }}
            </li>
            <li>
                Created: {{ characterDetails.created }}
            </li>
            <li>
                Origin name: {{ characterDetails.origin.name }}
            </li>
            <li>
                Location name: {{ characterDetails.location.name }}
            </li>
            <li>
                Location type: {{ characterDetails.location.type }}
            </li>
            <li>
                Location dimension: {{ characterDetails.location.dimension }}
            </li>
            <li>
                <span
                    (click)="editCharacter()" 
                    class="character-detail__edit"
                    >
                    &#x270D;
                </span>
            </li>
        </ul>

        <ng-template #editBlock>
            <app-character-edit 
                [characterDetails]="characterDetails"
                (changeCharacter)="onChangeCharacter($event)"
                (savedCharacter)="onSavedCharacter()"
                >
            </app-character-edit>
        </ng-template>

    </div>
   
</section>