<section class="nav__container content nav">
    <div class="nav__logo">
        <a routerLink="">
            <img [src]="logo">
        </a>
    </div>
    <nav class="nav__navigation">
        <ul>
            <li 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                *ngIf="!authServise.isAuthenticated; else homeBlock"
                >
                <a routerLink="/login">
                    Login
                </a>
            </li>
            <ng-template #homeBlock>
                <li routerLinkActive="active">
                    <a routerLink="">
                        Home
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/add">
                        Add
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="logout()">
                        Logout
                    </a>    
                </li>
            </ng-template>

        </ul>
    </nav>
</section>