<section class="episode-list__container episode-list">
    <!-- <button 
        class="episode-character__button"
        >
        Serie: all Episode: all
    </button> -->
    <div 
        *ngFor="let episode of episodes"
        class="episode-list__buttons"
        >
        <app-episode-item
            (episodeChange)="onEpisodeChange($event)"
            [episode]="episode"
            [activeEpisodeId]="activeEpisodeId"
            > 
            <ng-content></ng-content>
        </app-episode-item>
    </div>
</section>