<section class="haracter-card__container haracter-card">
    <h1>
        Page cartoon characters
    </h1>

    <div *ngIf="error$ | async else showBlock">
        <strong>
            You list cartoon characters is empty
        </strong>
    </div>

    <ng-template #showBlock> 
        <div class="haracter-card__wrapper">
            <div 
                class="haracter-card__list"
                *ngFor="let character of characters$ | async"
                >
                <img [src]="character.image">
                <ul>
                    <li>
                        Name: {{ character.name }}
                    </li>
                    <li>
                        Status: {{ character.status }}
                    </li>
                    <li>
                        Species: {{ character.species }}
                    </li>
                    <li>
                        Gender: {{ character.gender }}
                    </li>
                </ul>
                <button 
                    class="haracter-card__detail"
                    (click)="detailCharacter(character.id)"
                    >
                    Detail
                </button>
            </div>
        </div>
    </ng-template>

</section>